{% if lista is defined and lista|length %}
	<table class="list_block block-3" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word; color: #000; direction: ltr; font-family: 'Ubuntu', Tahoma, Verdana, Segoe, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; line-height: 1.2; text-align: left; mso-line-height-alt: 19px;">
		<tr>
			<td class="pad" style="padding-bottom:15px;padding-left:55px;padding-right:50px;padding-top:15px;">
				<div style="margin-left:-20px">
					<ul start="1" style="margin-top: 0; margin-bottom: 0; list-style-type: revert;">
						{% for label, value in lista %}
							<li style="Margin: 0 0 0 0;">
								{% if mostrar_etiquetas is defined and mostrar_etiquetas %}
									<strong>{{ label }}:</strong>
								{% endif %}
								{{ value }}
							</li>
						{% endfor %}
					</ul>
				</div>
			</td>
		</tr>
	</table>
{% endif %}
