{% if titulo is defined and titulo|trim %}
	<table class="heading_block block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
		<tr>
			<td class="pad" style="padding-bottom:15px;padding-left:50px;padding-right:50px;padding-top:15px;text-align:center;width:100%;">
				<h2 style="margin: 0; color: #000; direction: ltr; font-family: 'Ubuntu', Tahoma, Verdana, Segoe, sans-serif; font-size: 28px; font-weight: 700; letter-spacing: normal; line-height: 2; text-align: left; margin-top: 0; margin-bottom: 0; mso-line-height-alt: 56px;">
					<span class="tinyMce-placeholder" style="word-break: break-word;">
						{{ titulo|default('EXAMPLE TITLE') }}
					</span>
				</h2>
			</td>
		</tr>
	</table>
{% endif %}
